/* Aside */

.aside-wrapper {
  padding-top: 5rem;
  padding-left: 9vw;
  font-size: 2vh;
}

.aside-wrapper li {
  padding-bottom: 4px;
}
.aside-border {
  border: 1px solid #d6d6d6;
  padding: 1em 1em 1em 1em;
}

.aside-title {
  text-transform: uppercase;
  color: #cb0d1f;
  font-size: 3vh;
  font-weight: 700;
}

.aside-categories {
  text-transform: uppercase;
  color: #81bfba;
  font-size: 2vh;
  font-weight: 700;
}

.aside-button1 {
  width: 10%;
  height: 2%;
  background: #ee1c25;
  color: #ee1c25;
  border: 0;
  border-radius: 8px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2px;
  margin-right: 2px;
}

.aside-button2 {
  width: 10%;
  height: 2%;
  background: #f16323;
  color: #f16323;
  border: 0;
  border-radius: 8px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2px;
  margin-right: 2px;
}

.aside-button3 {
  width: 10%;
  height: 2%;
  background: #28a3aa;
  color: #28a3aa;
  border: 0;
  border-radius: 8px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2px;
  margin-right: 2px;
}

.aside-list,
.aside-list a {
  color: #686868;
  text-decoration: none;
}

.aside-list a:hover {
  color: #cb0d1f;
}
