/* Header */

.global-nav {
  position: sticky;
  top: 0;
  background: #cb0d1f;
  z-index: 2;
  padding: 1rem;
  padding-left: 8vw;
}

.mr-auto {
  background: #cb0d1f !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mr-auto navbar-nav {
  padding-top: 2em;
}

.hide {
  display: none;
}

.bg-light {
  background-color: #cb0d1f !important;
}

.collapse {
  background-color: #cb0d1f;
  font-size: 1.4em;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 600;
}

.preHeader {
  background-color: #242021;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 9vw;
}

.preHeader-login a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
}

.preHeader-login span {
  color: #ffffff;
  text-decoration: none;
}

.preHeader-login a:hover {
  color: #747474;
}

.header {
  grid-area: header;
  background-color: #ffffff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItems {
  font-weight: 600;
  cursor: pointer;
}

.search {
  width: 100%;
  position: relative;
  display: none;
}

.searchTerm {
  width: 100%;
  border: 3px solid #cb0d1f;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #cb0d1f;
}

.searchButton {
  width: 6rem;
  border: 1px solid #cb0d1f;
  background: #cb0d1f;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.search-wrap {
  width: 40%;
  position: sticky;
  padding: 0vw 9vw 0vw 0vw;
}

.fa-search:before {
  content: none;
}

.main-header {
  grid-area: header;
}

/* Responsive */

@media (max-width: 1024px) {
  .search-wrap {
    display: none;
  }
}
