/* Main */

.item {
  padding-top: 5rem;
  text-align: center;
}

.main {
  grid-area: main;
  padding-left: 1vw;
  padding-right: 9vw;
  padding-bottom: 1vw;
}

.product-name {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: #919191;
}

.product-price {
  color: #ee1c25;
  font-weight: 800;
  font-size: 2vh;
}

.product-image {
  max-width: 100%;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 1em #d6d6d6;
}

.p-img {
  max-width: 200px;
  max-height: 200px;
}

.buy-button {
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  background: #81bfba;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  transition: filter 0.2s;
}

.buy-button:hover {
  background: #63beb791;
}

.products-title {
  color: #cb0d1f;
  font-size: 3vh;
  font-weight: 700;
  padding-top: 5rem;
  padding-left: 4vw;
}

.search-product-bar {
  width: 60%;
  border: 1px solid #cb0d1f;
  padding: 2px;
  border-radius: 5px;
  padding-right: 9rem;
}

.span-title {
  font-weight: 600;
  padding-right: 15rem;
}

/* Responsive */

@media (max-width: 1440px) {
  .products-title {
    padding-left: 1vw;
  }

  .product-name {
    font-size: 0.7em;
    font-weight: 800;
  }
}

@media (max-width: 1024px) {
  .product-name {
    font-size: 0.9vh;
    font-weight: 800;
  }
  .p-img {
    max-width: 120px;
    max-height: 120px;
  }
  .col-md-3 {
    font-size: 0.5em;
    font-weight: 900;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px !important;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: none;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    max-width: 33%;
  }

  .nav-item {
    font-size: 1rem;
  }

  .products-title {
    padding-left: 1em;
  }
}

@media (max-width: 320px) {
  .aside-categories {
    font-size: 3vh;
  }
  .aside-list,
  .aside-list a {
    font-size: 3.5vh;
    font-weight: 700;
  }
  .grid-container {
    grid-template-columns: none;
  }
  .col-sm-3 {
    max-width: 100% !important;
  }
  .col-sm-9 {
    max-width: 100% !important;
  }
  .products-title {
    padding-left: 25px;
  }

  .span-title {
    font-weight: 700;
  }

  .aside-wrapper {
    padding-top: 1vw;
    padding-left: 8vw;
  }

  .products-title {
    color: #cb0d1f;
    font-size: 3vh;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 1em;
    margin-left: 1.2em;
    margin-bottom: 1em;
  }

  .aside-list,
  .aside-list a {
    font-size: 1.5vh;
    font-weight: 700;
  }

  .aside-categories {
    font-size: 2vh;
  }

  .search-product-bar {
    font-size: 5vw;
    width: 50%;
    padding: 2px;
    padding-right: 0em !important;
  }

  .item {
    padding-top: 1rem;
  }

  .aside-title {
    font-size: 2vh;
    font-weight: 700;
  }

  .aside-wrapper {
    padding-top: 4vw;
    padding-left: 29vw;
  }

  .preHeader {
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    font-size: 0.8em;
    padding-right: 9vw;
  }
  .col-md-3 {
    padding-left: 5em;
  }
}

@media (min-width: 1024px) {
  .span-title {
    padding-right: 2rem;
  }
}
