@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

/* Global */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  max-width: 100%;
  padding-left: 9vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 13rem 1fr 5rem;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  height: 100%;
  width: 100%;
  min-height: 100%;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color: #cb0d1f;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

/* Responsive */

@media (max-width: 320px) {
  #root {
    width: 100vh !important;
  }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 100% !important;
  }

  .col-sm-9 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 100% !important;
  }

  .global-nav {
    padding: 1rem;
    font-size: 0.5rem;
    padding-left: 32vw;
  }

  .logo {
    max-width: 300px;
  }

  .aside-border {
    padding: 2em 4em 3em 3em;
  }

  .row {
    margin-right: 240px !important;
  }

  .product-name {
    font-size: 2vh;
  }

  .preHeader {
    padding: 1rem;
    padding-left: 20px;
  }
  .preHeader-login {
    display: none;
  }
  .navbar-toggler {
    background-color: #ffffff;
  }
  .preHeader-login span {
    padding: 0px !important;
  }

  .hide {
    display: inline;
  }
}